page-space-create {
  .fa-red{
    color:red;
    font-size: 8px;
    position: relative;
    top: -5px;
  }
  .pb-10{
    padding-bottom: 10px;
  }
  .pt-10{
    padding-top: 10px;
  }
  .pt-15{
    padding-top: 15px;
  }
  .pt-20{
    padding-top:20px;
  }
  ion-content{
    .scroll-content{
      padding: 0px !important;
    }    
  }
  ion-card{
    padding:10px;
  }
  ion-input{
    input{
      margin-left:0px !important;
      border-bottom: solid 1px !important;
      border-color: #b9b9b9 !important;
    }
  }
  ion-textarea{
    textarea{
      margin-left:0px !important;
      border-bottom: solid 1px !important;
      border-color: #b9b9b9 !important;
    }
  }
  .red{
    input{
      border-color: #ff0000 !important;
    }
    textarea{
      border-color: #ff0000 !important;
    }
    
  }
  ion-card{
    padding:20px;
    margin: 0px !important;    
    width: 100% !important;
    button{
      height: 2.2em !important;
      font-size: 1.4rem;
    }
    .btn-save{
      position: absolute;
      right: 20px;      
    }
    .btn-continue{
      position: absolute;
      right: 20px;
    }
  }

  .radio-list{
    border: solid 1px gray;
    ion-item {
      border: none !important;
      font-size: 1.1em;
    }
  }

  .featured-image {
    width: 150px;
    height: 150px;
    background-color: $emptyColor;
    margin:auto;    
  }
  .featured-image:hover{
    cursor: pointer;
  }
}
