<!--
  Generated template for the TreeNode component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div *ngFor="let n of nodes" class="divitem" >
  <button ion-item detail-none no-lines  (click)="clickNode(n)" 
          [ngClass]="{active: isSelected(n), select: n.selected}" icon-left>
    <ion-grid >
      <ion-row>
        <ion-col col-sm-1>
          <span item-left *ngIf="n.sub" >
            <ion-icon [color]="isSelected(n) ? 'primary' : 'gray'" [name]="isSelected(n) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
          </span> 
        </ion-col>
        <ion-col col-sm-1>
            <ion-icon [name]="getIcon(n)" color="dark"></ion-icon>              
        </ion-col>
        <ion-col col-sm-10>
            {{n.title}} 
        </ion-col>
      </ion-row>
    </ion-grid>                              
  </button>
  <!-- Recursive call to draw the next level o the node-->
  <tree-folder [nodes]="n.sub" (select)='onSelect($event)'  *ngIf="n.sub" [hidden]="!isSelected(n)" ></tree-folder>   
</div>

