<!--
  Generated template for the ManageUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ "TITLES.Space" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <button-group *ngIf="spaceId != 0" [buttons]="buttons" (changed)="switchSpaceView($event)"></button-group>
  <ng-container [ngSwitch]="spaceView">
    <div class="space-people" *ngSwitchCase="0">
      <ng-container *ngIf="isLoadingRequests">
        <empty-people *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"></empty-people>
      </ng-container>
      <people-request [peoples]='spaceRequestUsers' (approve)='approve($event)' (decline)='decline($event)' *ngIf="spaceRequestUsers.length > 0"></people-request>
      <div *ngIf="spaceRequestUsers.length == 0 && !isLoadingRequests" style="margin: 10px; text-align: center;">
        {{ "EXTRA.NOREQUEST" | translate }}
      </div>
      <ion-infinite-scroll *ngIf="!isLoadingRequest" (ionInfinite)="getSpaceRequests($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div class="space-people" *ngSwitchCase="1">
      <people-list [isLoading]="isLoadingUsers" [peoples]="spaceUsers | search: searchtext:'UserInfoDisplayName' " (doSearch)="searchtext = $event"></people-list>
      <ion-infinite-scroll *ngIf="!isLoadingUsers" (ionInfinite)="getSpaceUsers($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ng-container>      
</ion-content>
