<!--
  Generated template for the ArticleCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        {{ "CREATE.CANCEL" | translate }}
        <!-- <ion-icon name="ios-arrow-back"></ion-icon> -->
      </button>
    </ion-buttons>
    <ion-title>{{ "CREATE.NEWIDEA" | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="save()">
        {{ "CREATE.ADD" | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding (ionScroll)="onScroll($event)">
  <ion-card class='mg-0 w-100 title'>
    <ion-input  id='headline' placeholder='{{ "CREATE.TITLE" | translate }}' [(ngModel)]='contentTitle'></ion-input>
    <div class='wrapper'>
      <ion-label (click)="setFocus()">{{ "CREATE.SUMMARY" | translate }}</ion-label>
      <ion-textarea #summary id='summary' [(ngModel)]='contentSummary'></ion-textarea>
    </div>
  </ion-card>
  <ion-card class='mt-10 mb-10 w-100 editor'>
    <ion-label>{{ "CREATE.IDEABODY" | translate }}</ion-label>
    <div id='contentBody' [froalaEditor]='froalaOption' [(froalaModel)] = 'contentBody'></div>
  </ion-card>
  <ion-card class='mt-10 mb-10 pt-10 pb-10 w-100'>
    <featured-image (featurefile)='setFeatureFile($event)'></featured-image>
  </ion-card>
  <ion-card class='mt-10 mb-10 w-100 checkgroup'>
    <option-search [entity]='{allItems: categories, label: "Category", isRequired: 0}' (select)='setCategories($event)'></option-search>
    <option-search [entity]='{allItems: stages, label: "Stage", isRequired: 0}' (select)='setStage($event)'></option-search>
    <ion-item *ngIf="MarkAsFeatured">
      <ion-label class='inline'>{{ "CREATE.FEATURED" | translate }}</ion-label>
      <ion-toggle [(ngModel)]="featured"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="MarkContentAsReadRequired">
      <ion-label class='inline'>{{"CREATE.REQUIREDREADING" | translate}}</ion-label>
      <ion-toggle [(ngModel)]="requiredreading"></ion-toggle>
    </ion-item>
  </ion-card>
  <ion-card class='w-100 extra mg-0 pd-0'>
    <ion-label>{{ "COMMONS.TAGS" | translate }}</ion-label>
    <div class='wrapper'>
      <ion-tags-input [(ngModel)]="tags" [placeholder]="' '" [canEnterAdd]="true" (ionFocus)='onTagFocus()' (ionBlur)='onTagBlur()'></ion-tags-input>
    </div>
  </ion-card>
  <ion-card class='mg-0 w-100 mt-10 mb-10'>
    <add-attachments (files)="setFiles($event)"></add-attachments>
  </ion-card>
</ion-content>
