page-spaces {
  [add-button]{
    background-color: transparent;
    color: #327eff;
    padding: 0 0.5rem 0 1rem;
    ion-icon {
        font-size: 3rem;
        font-weight: bold;
    }
  }
}