<ion-header>
  <ion-navbar>
    <ion-title>{{"NAV.MESSAGES" | translate}}</ion-title>
    <button ion-button icon-only button-clear menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <iframe ion-fixed *ngIf="isEnabled" src="assets/chat.html" frameborder="0"></iframe>
  <ion-input #ioshack type="text" value="" class="ioshack" style="height: 0px;"> </ion-input>
  <div padding spinner-center *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
