category-select-modal {
    .is-iphone-x.header-ios,  {
        padding-top: 70px !important;
        background-color: #f8f8f8 !important;
    }
    ion-header.header.header-ios{
        padding-top: 20px;
        background-color: #f8f8f8;
      }
}
