page-discussion-list {
    [card-title] {
        width: 100%;
        margin: 0;
        ion-card-content {
            padding: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 16px !important;
            ion-icon {
                font-size: 2.5rem;
            }
            [add-button]{
                padding: 0 0.5rem 0 1rem;
                ion-icon {
                    font-size: 3rem;
                    font-weight: bold;
                }
                height: 40px;
            }
        }
        border-bottom: 1px solid #ececec;
        .card-content {
            font-size: 1.2em;
            font-weight: 500;
        }
    }
}
