page-photo-detail {
    .comment-line {
        display: flex;
        justify-content: center;
        // padding: 20px 0;
        .comment {
            // margin-right: 20px;
        }
        .like {
            margin-right: 25%;
        }
        ion-list {
            margin-bottom: 0 !important;
        }
        // max-height: 40px;
    }
    .article-title-detail {
        p {
            padding: 5px;
            font-size: 0.9em;
        }
    }
    a {
        text-decoration: none;
        color: $linkColor;
    }
}
