page-case-edit {
  // ion-header.header.header-ios{
  //   padding-top: 20px;
  //   background-color: #f8f8f8;
  // }
  .fa-red{
    color:red;
    font-size: 8px;
    position: relative;
    top: -5px;
  }  
  
  ion-content{
    .scroll-content{
      padding: 0px !important;
    }    
  }
  .title{
    font-size: initial;
    ion-label{      
      padding-left: 10px;
    }
    .wrapper{
      padding-top: 10px;
      border-bottom: solid 2px !important;
      border-color: gainsboro !important;
    }
  }
  .setting{
    font-size: 1.6rem;
    .item-inner{
      padding: 5px 15px 5px 0px;
    }
    border-bottom: solid 2px;
    border-color: gainsboro;
  }
  .extra{
    font-size: 1.6rem;
    ion-label{
      padding: 10px 16px 0px 16px;
    }
    
    padding: 10px 0px 10px 10px;
    .wrapper{
      border-bottom: solid 2px !important;
      border-color: gainsboro !important;
    }
  }
  .btns{
    padding: 5px 15px;
    button{
      height: 2.2em !important;
      font-size: 1.4rem;
    }
    .btn-save{
      position: absolute;
      right: 20px;      
    }
  }
  ion-card{
    overflow: initial;
  }
  #caseBody{
    .fr-toolbar{
      border-top: 1px solid gainsboro;
      border-bottom: 1px solid gainsboro;
      box-shadow: none;
      position: relative;
    }
    .fr-element.fr-view{
      min-height: 170px;
      max-height: 1000px;
    }
    .fr-counter, .fr-placeholder{
      display: none;
    }
  }
  #caseBody *{
    box-shadow: none;
  }

  .editor{
    font-size: initial;
    ion-label{      
      margin: 0px !important;
      padding: 11px 8px 11px 15px;
    }
    overflow: unset;
  }
}
