<ion-header [ngClass]="{'is-iphone-x': isIphoneX}">
  <ion-navbar>
    <button ion-button color="light" icon-only clear (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<!-- <ion-scroll zooming="true" min-zoom="1" direction="xy">
  <img [src]="link" alt="">
</ion-scroll>
<ion-content no-margin>

<ion-slides zoom min-zoom="1" direction="xy">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img class="photo-single-modal-image" [src]="link" alt="">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content> -->
<!-- <zoom-area>
  <img class="photo-single-modal-image" [src]="link | secure | async" alt="">
</zoom-area> -->