folder-operation-modal{
  .btn-save{
    position: absolute;
    right: 20px;
    height: 2.2em;
  }  
  ion-label{
    margin-left: 15px !important;
  }
  input{
    border-bottom: solid 1px !important;
    border-color: #b9b9b9 !important;
    width: 100%;
  }
}