<!-- Generated template for the AddButtonComponent component -->
<!-- <span class='add-button' (click)="clickButton()">
  <i class="fa fa-plus-circle fa-4" aria-hidden="true"></i>
  Add {{ entity?.name}}
</span> -->
<!-- <button ion-button icon-only button-clear color="white" class='add-button' (click)='clickButton()'>
  <ion-icon name="add"></ion-icon>
</button> -->
<div class='add-button-wrapper'>
  <span></span>
  <button end add-button ion-button clear (click)="clickButton()">
    <ion-icon name="add"></ion-icon>
  </button>      
</div>