case-select-search {
  .fa-red{
    color:red;
    font-size: 8px;
    position: relative;
    top: -5px;
  }
  .stage-group{
    ion-item{
      min-height: 2rem !important;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1em !important;
      ion-label{
        margin: 0px !important;
      }
    }
    ion-item:hover{
      background: #d8d8d8;
    }
  }
  button{
    width: 100%;
    border-radius: 2px;
    background: #eaeaea;
    text-align: left;
    border: solid 1px gray;
    .fa-down{      
      position: absolute;
      right: 10px;
    }
  }
  ion-item-group{
    border: solid 1px gray;
    border-top: 0px;
  }
}
