<ion-header>
  <ion-navbar>
    <ion-title>{{"ACCOUNT.HEADING" | translate}}</ion-title>
    <button ion-button icon-only button-clear menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="account" (ionChange)="changeSegment($event)">
      <ion-segment-button value="activity">
        {{"ACCOUNT.SEGMENT.ACTIVITY" | translate}}
      </ion-segment-button>

      <ion-segment-button value="ticker">
        {{"ACCOUNT.SEGMENT.TICKER" | translate}}
      </ion-segment-button>

      <ion-segment-button value="notification">
        {{"ACCOUNT.SEGMENT.NOTIFICATION" | translate}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="account == 'activity'" no-padding>
    <status-modal (modalClose)="refreshPage($event)" [isText]="true"></status-modal>
  </ion-toolbar>
</ion-header>
<ion-content no-margin [ngClass]="account" (ionScroll)="scrollHandler($event)">

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="account == 'activity' && !isLoading">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-refresher (ionRefresh)="doRefreshTicker($event)" *ngIf="account == 'ticker' && !isLoadingTicker">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-refresher (ionRefresh)="doRefreshNotifications($event)" *ngIf="account == 'notification' && !isLoadingNotifications">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container>
    <div [hidden]="account != 'activity'">
      <!-- <loader *ngIf="isLoading"></loader> -->
      <div *ngIf="isLoading">
        <empty-card *ngFor="let item of [1, 2, 3]"></empty-card>
      </div>
      <content-card-list [activities]="activities"></content-card-list>
      <ion-infinite-scroll *ngIf="!isLoading" (ionInfinite)="doInfinite($event)" threshold="1000px">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div [hidden]="account != 'ticker'">
      <!-- <loader *ngIf="isLoadingTicker"></loader> -->
      <ion-list *ngIf="isLoadingTicker">
        <empty-ticker *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"></empty-ticker>
      </ion-list>
      <ion-list [style.marginBottom]="'0'">
        <ticker [ticker]="ticker" *ngFor="let ticker of tickers"></ticker>
      </ion-list>
      <ion-infinite-scroll *ngIf="!isLoadingTicker" (ionInfinite)="getuserTickers($event)" threshold="1000px">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div [hidden]="account != 'notification'">
      <!-- <loader *ngIf="isLoadingNotifications"></loader> -->
      <ion-list *ngIf="isLoadingNotifications">
        <empty-notification *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"></empty-notification>
      </ion-list>
      <ion-list>
        <notification [notification]="notification" *ngFor="let notification of notifications"></notification>
      </ion-list>
      <ion-infinite-scroll *ngIf="!isLoadingNotification" (ionInfinite)="doNotification($event)" threshold="1000px">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </ng-container>
</ion-content>