<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ getTitle() | translate }}</ion-title>
    <ion-buttons right>
      <edit-button [entity]='{contentId: contentId, entityType: "article"}' [hidden]='!canedit'></edit-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="banner" *ngIf="contentDetail?.ContentFeaturedImageFullURL">
    <img [src]="contentDetail?.ContentFeaturedImageFullURL | secure | async">
  </div>

  <div class="article-content" padding>
    <div class="alert alert-info" *ngIf="isExpired(contentDetail?.DateExpired)">
      <span>{{ "EXTRA.EXPIRED" | translate }}</span>
    </div>
    <div class="article-title-detail" text-center>
      <img class="profile-img" [class.hasCover]="!!contentDetail?.ContentFeaturedImageFullURL | secure | async" *ngIf="contentDetail?.AuthorAvatarImageUrl"
        [src]="contentDetail?.AuthorAvatarImageUrl">
      <span>
        <h3>
          {{contentDetail?.ContentTitle}}
        </h3>
      </span>
      <p>
        <span>{{contentDetail?.DateCreatedString}}</span>
        <span>{{"ARTICLE.BY" | translate}}</span>&nbsp;
        <span [innerHtml]="contentDetail?.AuthorDisplayName"></span>
      </p>
      <p>
        {{"ARTICLE.POSTEDIN" | translate}}
        <span *ngIf="contentDetail?.SpaceID > 0">{{ contentDetail?.SpaceName }}</span>
        <span *ngIf="contentDetail?.SpaceID === 0">Top Level Community</span>
      </p>
      <p>
        <span>{{contentDetail?.ViewCount}} {{"ARTICLE.VIEWS" | translate}}</span>
        &nbsp;
        <span *ngIf="contentDetail?.CommentCount == 1">{{ contentDetail?.CommentCount }} {{"MYACCOUNTCARD.CARDCONTENT.COMMENT" | translate}}</span>
        <span *ngIf="contentDetail?.CommentCount > 1 || contentDetail?.CommentCount == 0">{{ contentDetail?.CommentCount }} {{"MYACCOUNTCARD.CARDCONTENT.COMMENTS" | translate}}</span>
      </p>
    </div>

    <div class="article-desc">
      <span [innerHtml]="contentDetail?.ContentBody"></span>
    </div>

    <show-attachments [entity]="{id: contentId, type: 3}"></show-attachments>
  </div>
  <ion-list no-margin class="article-tags" padding-horizontal *ngIf="contentDetail?.TagsCSV" no-lines>
    <ion-item>
      <h6>{{"ARTICLE.TAGS" | translate}}</h6>
      <h6>{{contentDetail?.TagsCSV}}</h6>
    </ion-item>
  </ion-list>

  <ion-row class="article-likes-comments" padding-horizontal>
    <ion-col no-padding>
      <content-like [likesCount]="likesCount"></content-like>
    </ion-col>
    <ion-col no-padding>
      <p text-right *ngIf="contentDetail?.CommentCount == 1">{{ contentDetail?.CommentCount }} {{"MYACCOUNTCARD.CARDCONTENT.COMMENT" | translate}}</p>
      <p text-right *ngIf="contentDetail?.CommentCount > 1 || contentDetail?.CommentCount == 0">{{ contentDetail?.CommentCount }} {{"MYACCOUNTCARD.CARDCONTENT.COMMENTS" | translate}}</p>
    </ion-col>
  </ion-row>
  <div class="article-response like-button-section" padding-horizontal>
    <single-content-like *ngIf="!isRefreshing" (getCount)="setCount($event)" [contentID]="contentDetail?.ContentID" [entityType]="3"></single-content-like>
  </div>
  <div class="article-response write-comment-section" padding-horizontal>
    <write-comment (click)="openModal()"></write-comment>
  </div>
  <div class="article-comments">
    <comment [comments]="comments" (sendParent)="openModal($event)" [step]="0"></comment>
    <ion-infinite-scroll (ionInfinite)="getComments($event)" threshold="1000px">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>