page-photo-list {
    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 36%;
            font-size: 1.3em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            background-color: rgba(20, 20, 20, 0.7);
            padding: 10px 0;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }

    }

    [card-title] {
        width: 100%;
        margin: 0;
    }
}
